<h1>Square Results</h2>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @num %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>
<a href="/square/new">Calculate another square</a>
